#select {
  color: white;
  background: url('chess-pieces.jpg');
  background-repeat: no-repeat;
}

.middle_button {
  width: 44%;
}

.counter {
  width: 100%;
  text-align: center;
  padding: 70px 0;
  font-size: 5em;
}

#black {
  background: black;
  color: white;
  -ms-transform:rotate(180deg); /* IE 9 */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari and Chrome */
  -o-transform:rotate(180deg); /* Opera */
  transform:rotate(180deg);
}

#white {
  background: white;
  color: black;
}